.formWrapper {
  width: 70%;
  padding: 20px 15px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.12);

  canvas,
  img {
    display: none;
    width: fit-content;
  }
  p {
    margin: 0;
    margin-bottom: 6px;
  }
  .field {
    &.flexedFields {
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .control {
        width: 48%;
        position: relative;
        input {
          width: 100%;
          transition: 0.1s;
          border: 1px solid gray;
          padding: 5px 10px;
          border-radius: 4px;
          background-color: #f5f5f5;
          outline: none;
          &:hover {
            background-color: #fff;
            border-color: orange;
          }
          &.isDanger {
            border-color: red;
          }
        }
        .errorMessage {
          color: red;
          font-size: 12px;
          position: absolute;
          top: 55px;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &.flexedActions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .flexedFields {
        width: fit-content;
      }
      .control {
        width: fit-content;
      }
      .submitButton,
      .resetButton {
        padding: 5px 13px;
        margin-left: 15px;
        cursor: pointer;
        transition: 0.1s;
        background-color: #f5f5f5;
        border: 1px solid gray;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
        &:hover {
          background-color: #fff;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
  .chooseFile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    input {
      display: none;
    }
    .imageLoader {
      text-align: center;
      border: 1px solid gray;
      border-radius: 7px;
      padding: 5px 13px;
      cursor: pointer;
      transition: 0.1s;
      margin-bottom: 0;
      &:hover {
        border-color: orange;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .formWrapper {
    .field {
      &.flexedFields {
        flex-direction: column;
        margin-bottom: 0;
        .control {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      &.flexedActions {
        flex-direction: column;
        .chooseFile {
          width: 100%;
          label {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        .flexedFields {
          .control {
            button {
              margin-left: 0;
              width: 100%;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
